---
#
# Check_MK site configuration
#
- name: Create Check_MK site
  command: omd create '{{ checkmk_server__site }}'
  args:
    creates: '/omd/sites/{{ checkmk_server__site }}/etc/omd/site.conf'

- name: Check cron.allow file
  stat:
    path: '/etc/cron.allow'
  register: checkmk_server_register_cron

- name: Grant cron permissions to Check_MK user
  lineinfile:
    dest: '/etc/cron.allow'
    line: '{{ checkmk_server__user }}'
    regexp: '^{{ checkmk_server__user }}$'
  when: checkmk_server_register_cron.stat.exists
  notify: [ 'Restart Check_MK' ]

- name: Get Check_MK site runtime configuration
  command: omd config '{{ checkmk_server__site }}' show '{{ item.var }}'
  with_items: '{{ checkmk_server__runtime_config }}'
  register: checkmk_server_register_runtime
  changed_when: False
  always_run: True

- name: Shutdown Check_MK site (if required)
  service:
    name: 'check-mk-raw-{{ checkmk_server__version }}'
    state: stopped
  when: not item.stdout == item.item.value
  with_items: '{{ checkmk_server_register_runtime.results }}'

- name: Set Check_MK site runtime properties
  command: omd config '{{ checkmk_server__site }}' set '{{ item.item.var }}' '{{ item.item.value }}'
  when: not item.stdout == item.item.value
  with_items: '{{ checkmk_server_register_runtime.results }}'

- name: Enable and start Check_MK site
  service:
    name: 'check-mk-raw-{{ checkmk_server__version }}'
    state: started
    enabled: yes

- name: Get Check_MK site user home directory
  shell: 'getent passwd {{ checkmk_server__user }} | cut -d":" -f6'
  register: checkmk_server_register_home
  changed_when: False
  always_run: True

- name: Generate SSH keypair
  become_user: '{{ checkmk_server__user }}'
  command: 'ssh-keygen {{ "-b " + checkmk_server__sshkeys.keysize if "keysize" in checkmk_server__sshkeys else "-b 4096" }} -f {{ checkmk_server_register_home.stdout }}/.ssh/id_rsa -N ""'
  args:
    creates: '{{ checkmk_server_register_home.stdout }}/.ssh/id_rsa'
  when: checkmk_server__sshkeys|d() and
        ("generate_keypair" in checkmk_server__sshkeys|d() and
         checkmk_server__sshkeys.generate_keypair)

- name: Copy SSH private key
  become_user: '{{ checkmk_server__user }}'
  copy:
    src: '{{ checkmk_server__sshkeys.privatekey_file }}'
    dest: '{{ checkmk_register_home.stdout }}/.ssh/id_rsa'
    directory_mode: '0700'
    mode: '0600'
  when: checkmk_server__sshkeys|d() and
        "privatekey_file" in checkmk_server__sshkeys|d()

- name: Copy SSH public key
  become_user: '{{ checkmk_server_user }}'
  copy:
    src: '{{ checkmk_server__sshkeys.publickey_file }}'
    dest: '{{ checkmk_register_home.stdout }}/.ssh/id_rsa.pub'
    mode: '0644'
  when: checkmk_server__sshkeys|d() and
        "publickey_file" in checkmk_server__sshkeys|d()

- name: Read SSH public key
  command: 'cat {{ checkmk_server_register_home.stdout }}/.ssh/id_rsa.pub'
  changed_when: False
  register: checkmk_server_register_ssh_pubkey
  when: checkmk_server__sshkeys|d()
