# {{ ansible_managed }}
{#

This file provides the default global configuration as shipped with upstream
Check_MK. It can be extended by custom rule definitions in the Ansible
inventory.

#}
{% import 'checkmk_config.j2' as macros with context %}
# encoding: utf-8

use_new_descriptions_for = ['df',
 'df_netapp',
 'df_netapp32',
 'esx_vsphere_datastores',
 'hr_fs',
 'vms_diskstat.df',
 'zfsget',
 'ps',
 'ps.perf',
 'wmic_process',
 'services',
 'logwatch',
 'cmk-inventory',
 'hyperv_vms',
 'ibm_svc_mdiskgrp',
 'ibm_svc_system',
 'ibm_svc_systemstats.diskio',
 'ibm_svc_systemstats.iops',
 'ibm_svc_systemstats.disk_latency',
 'ibm_svc_systemstats.cache',
 'casa_cpu_temp',
 'cmciii.temp',
 'cmciii.psm_current',
 'cmciii_lcp_airin',
 'cmciii_lcp_airout',
 'cmciii_lcp_water',
 'etherbox',
 'liebert_bat_temp',
 'nvidia.temp',
 'ups_bat_temp',
 'innovaphone_temp',
 'enterasys_temp']
enable_rulebased_notifications = True

{{ macros.checkmk_config('global.mk', True, checkmk_server__site_config_map|d([])) }}
