{% macro checkmk_config(filename, config_map) %}
{% if config_map %}
{%   for entry in config_map %}
{%     if entry['filename'] == filename and entry['wato'] %}

{{ entry["name"] }} = [
  ( '{{ entry["value"] }}', ['{{ entry["tags"] | join("', '") }}', ], ALL_HOSTS, {'description': u'{{ entry["description"] }}'} ),
] + {{ entry["name"] }}
{%     endif %}
{%   endfor %}
{% endif %}
{% endmacro %}
