# {{ ansible_managed }}
# encoding: utf-8

roles.update(
{ {% for role, params in checkmk_server__multisite_roles|dictsort %}'{{ role }}': {{ params | replace("u'", "'") }}{% if not loop.last %},
  {% endif %}{% endfor %} })
